@font-face {
  font-family: "longshot";
  src:
    url("fonts/LongShot.woff2") format("woff2"),
    url("fonts/LongShot.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: 'dashhorizon';
    src: url('fonts/DashHorizon.woff2') format('woff2'),
        url('fonts/DashHorizon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* OVERALL OPTIONS*/
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5 {
    margin: 0;
}
h1, h2, h3, .sidebar p {
    font-family: "dashhorizon";
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/*BASIC LAYOUT*/
.container {
    display: grid;
    grid-template: 120px 1fr / minmax(220px,2fr) 15fr;
    height: 100vh;
    overflow: hidden;
}
.sidebar{
    background-color: #43a2ca;
    grid-row: span 2;
    height: 100%;
    display: grid;
    gap: 15px;
    align-content: start;
    padding: 10px;
    color: white;
}
.header{
}
.main{
    background-color: #deebf7;
    display: grid;
    grid-template: 1fr / 4fr minmax(200px, 1fr);
    padding: 10px;
    height: 100%;
    min-height: 0;
}

/* Left bar */
.menuitem {
    display:grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}
.menuitem img {
    width: 30px;
    filter: invert(1);
}
.menuitem:hover img {
    filter: invert(0); /* back to black icon */
}

.menuitem:hover p {
    color: black;
}

/* Main */
.main_item{
    padding: 5px;
}
.main > :first-child{
    grid-row: span 3;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    overflow: hidden;
    min-height: 0;
}/*this is the main child containing the projects title and projects div*/
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-content: start;
    grid-row: span 2;
    gap: 10px;
    height: 100%;
    overflow-y: auto;
}
.project{
    padding: 15px;
    background-color: white;
    min-height: 300px;
    border-left: 10px solid rgb(4, 35, 169);
}
.project:hover{
    color:rgb(4, 35, 169);
}

/* Main right */
.rightbar {
    height: 100%;
    overflow-y: auto;
}
.announcements,
.trending {
    display: grid;
    grid-template: 1fr;
    background-color: white;
    padding: 10px;
    row-gap: 15px;
}
.announcements > h4,
.announcements > p,
.trending > h4,
.trending > p,
.trending > div > h4,
.trending > div > p  {
    font-size:x-small;
    margin: 0px;
    padding: 0px;
    margin: 0px;       
    line-height: 1;
}
.trending > div > h4 {
    line-height: 0.4;
}
.announcements > p {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}
.trending > div {
    display:grid;
    grid-template: 24px 1fr / 24px 1fr;
    align-items: center;
}
.trending > div > img {
    grid-row: span 2;
}

/* Header*/
.header {
    padding: 0px 50px;
    display: grid;
    grid-template-rows: 40px 1fr;
    gap: 10px;
}
.header * {
    margin: 0px;

}
.header_top{
    grid-template-columns: 5fr 100px 1fr;
    display: grid;
    align-items: center;
}
.header_top > div{
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    margin-right: 50px;
    gap: 15px;
    padding-top: 10px;
}
.header_bottom{
    grid-template-columns: 150px minmax(200px, 1fr) repeat(3, 100px);
    display: grid;
    margin: 0px;
    align-items: center;
    gap: 10px;
}
.useractions{
display: grid;
grid-template-columns: repeat(3, 1fr);
place-items: center;
}
.header_bottom button{
    width: 60px;
    background-color: rgb(4, 35, 169);
    color: white;
}
.header_top > div input {
width: 100%;
}