/* OVERALL OPTIONS*/
* {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5 {
    margin: 0;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/*BASIC LAYOUT*/
.container {
    display: grid;
    grid-template: 100px 1fr / minmax(220px,2fr) 15fr;
    height: 100vh;
    overflow: hidden;
}
.sidebar{
    background-color: #43a2ca;
    grid-row: span 2;
    height: 100%;
    display: grid;
    gap: 15px;
    align-content: start;
    padding: 10px;
}
.header{
}
.main{
    background-color: #deebf7;
    display: grid;
    grid-template: 1fr / 4fr minmax(200px, 1fr);
    padding: 10px;
    height: 100%;
    min-height: 0;
}

/* Left bar */
.menu_section {
    display:grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}
.menu_section img {
    width: 30px;
}

/* Main */
.main_item{
    padding: 5px;
}
.main > :first-child{
    grid-row: span 3;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    overflow: hidden;
    min-height: 0;
}/*this is the main child containing the projects title and projects div*/
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-content: start;
    grid-row: span 2;
    gap: 10px;
    height: 100%;
    overflow-y: auto;
}
.project{
    padding: 15px;
    background-color: white;
    min-height: 300px;
    border-left: 10px solid rgb(4, 35, 169);
}

/* Main right */
.rightbar {
    height: 100%;
    overflow-y: auto;
}
.announcements,
.trending {
    display: grid;
    grid-template: 1fr;
    background-color: white;
    padding: 10px;
}
.announcements > h4,
.announcements > p,
.trending > h4,
.trending > p  {
    font-size:x-small;
}
.announcements > p {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

/* Header*/
.header {
    padding: 0px 50px;
    display: grid;
    grid-template-rows: 40px 1fr;
    gap: 10px;
}
.header * {
    border: red solid 1px;
    margin: 0px;
}
.header_top{
    grid-template-columns: 50px 5fr 50px 100px 1fr;
    display: grid;
    align-items: center;
}
.header_bottom{
    grid-template-columns: 150px 1fr repeat(3, 100px);
    display: grid;
    margin: 0px;
    align-items: center;
}
.useractions{
display: grid;
grid-template-columns: repeat(3, 1fr);
place-items: center;
}
.header_bottom button{
    width: 60px;
}