/* OVERALL OPTIONS*/
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

/*BASIC LAYOUT*/
.container {
    display: grid;
    grid-template: 100px 1fr / minmax(150px,2fr) 6fr;
    height: 100vh;
}
.sidebar{
    background-color: #43a2ca;
    grid-row: span 2;
    height: 100%;
    display: grid;
    gap: 15px;
    align-content: start;
}
.header{
}
.main{
    background-color: #deebf7;
    display: grid;
    grid-template: repeat(3, 1fr) / 3fr minmax(200px, 1fr);
    padding: 10px;
}

/* Main */
.main_item{
    padding: 5px;
}

.main > :first-child{
    grid-row: span 3;
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-content: start;
    grid-row: span 2;
    gap: 10px;
}
.project{
    background-color: white;
}
