@font-face {
    font-family: 'Dash Horizon';
    src: url('DashHorizon.woff2') format('woff2'),
        url('DashHorizon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

